@media (min-width: 992px){
    .page-header .navbar-collapse {
        margin-top: 20px;
    }
}

.ellipsis{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    width:100%;
    display: block;
}
.dashboard-stat2 .display .number{
    width:100%;
}

.label, body, h1, h2, h3, h4, h5, h6{
    font-family: 微软雅黑!important;
}
body,.page-header .navbar .navbar-nav>li>a,.page-header .navbar .navbar-nav .dropdown-menu>li>a{
    font-family: 微软雅黑!important;
}
body{
    min-width: 685px;
}
body.page-on-load .wrapper{
    display:none;
}
.page-mask{
    position:fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background: rgba(0,0,0,0.6);
    z-index:1111111;
}

.yfops-widget-border{
    border: 1px solid #e7ecf1!important;
}
.yfops-widget{
    margin-bottom:14px;
}
.dashboard-stat2.bordered{
    min-height:130px;
}
.yfops-map{
    min-height: 260px;
    width: 70%;
    float:left;
}
.yfops-map-list{
    width: 30%;
    float:left;
}
.yfops-sparkline{
    width:128px;
    overflow: hidden;
    margin:0 auto;
    padding:0;
}
.yfops-sparkline li{
    list-style: none;
    padding-top:20px;
    padding-bottom:8px;
   /* padding-top: 6%;
    padding-bottom: 2%;*/
    cursor: pointer;
}
.yfops-sparkline-chart{
    width:65px;
    height:34px;
    background:url('bu_1.png') no-repeat center center;
}
.yfops-sparkline-title,.yfops-sparkline-chart{
    float:left;
}
.yfops-sparkline-title{
    width:45px;
    text-align: right;
    font-size:18px;
    line-height: 90%;
    padding-top: 19px;
    color:#a6a6a6;
    margin-right:10px;
}
.ops-chart{
    height:330px;
}

/* cover*/
.page-header .navbar .topbar-actions .btn-group-img .btn>span{
    color:#fff;
}
.page-header .navbar .topbar-actions .btn-group-img .btn{
    top: -10px;
    height: auto;
    padding:2px 10px 0px 10px;
    font-size:24px;
}

.yfops-sparkline li.active .yfops-sparkline-chart{
    background:url('bu_0.png') no-repeat center center;
}

.yfops-sparkline li.active .yfops-sparkline-title{
    color:#5b9bd1;
}
.yfops-unit{
    font-size:0.7em!important;
}

.navbar-actions{
    display: none;
    position: fixed;
    right: 50px;
    top: 93px!important;
    z-index: 10000!important;
}
.navbar-actions.active{
    display: block;
}
.dropdown-menu-v2>li>a:hover{
    color:#fff;
}
.dashboard-stat2 .display .number small{
    text-transform: inherit;
}
.dashboard-stat2, .dashboard-stat2 .display{
    min-height: 54px;
}
.page-header .navbar .navbar-nav .dropdown-menu>li>a{
    padding: 20px 15px 20px 30px;
}
.page-content{
    padding-top: 150px!important;
}

@media (min-width: 992px){
    .page-header .navbar-fixed-top{

        padding: 0px 25px 0!important;
    }

    .mega-menu .dropdown-menu-fw{
        left: 25px;
        right: 25px;
    }
}
.page-header .navbar .navbar-nav .dropdown-menu>li>a{
    font-size: 16px;
}
.yfops-entity{
    position: fixed;
    top:137px;
    left:25px;
    right:25px;
    padding:10px 30px;
    margin:0px;
    display: block;
    background:#fff;
    z-index:100;
    border-bottom:1px solid #eee;
}
.yfops-entity h4{
    display: inline-block;
    font-family: 微软雅黑!important;
    font-size: 16px;
}
.yfops-entity h4:last-child{
    float:right;
}

.dashboard-stat2 .progress-info .status{
    text-transform: initial;
}
.dashboard-stat2 .display .number small,.dashboard-stat2 .progress-info .status{
    font-weight: normal; 
}
.bold {
    font-weight: 100!important; 
}
.portlet.light>.portlet-title>.caption>.caption-subject{
    font-size: 18px;
}
.page-header .navbar .navbar-nav>li>a{
    color:#ccc;
    background:#4b4b48;
}

.page-header .navbar .navbar-nav>li:hover>a{
    color:#fff;
    background:#4b4b48;
}

.dashboard-stat2, .dashboard-stat2 .display{
    margin-bottom: 14px;
}
.dropdown-menu {
    left: inherit;
    right: 0;
}
.yfops-nav{
    overflow: hidden;
    padding:0;
    margin:0;
}

.yfops-nav>li{
    list-style: none;
    background: #4b4b48;
    float: left;
    border-radius: 2px;
    margin-right:2px;

}
.yfops-nav>li>a{
    display: block;
    color: #ccc;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    padding: 22px 40px;
    line-height: 20px;
    position:relative;
}
.yfops-nav>li>a:hover{
    color:#fff!important;
}

.yfops-nav2{
    position:absolute;
    left: 15px;
    right: 16px;
    bottom:-62px;
    background:#fff;
    padding:0;
    margin:0;
    background: #f9f9f9;
    display: none;
}
.yfops-nav>li.active>.yfops-nav2{
    display: block;
}

.yfops-nav2>li{
    list-style: none;
    float: left;
}
.yfops-nav2>li>a{
    display: block;
    padding: 20px 15px 20px 30px;
    font-size: 16px;
    color: #6c7b88;
    text-decoration: none;
}

.yfops-nav>li.active{
    background: #f9f9f9;
}
.yfops-nav>li.active>a{
    color: #2a3239!important;
}
.yfops-nav2>li>a:hover,.yfops-nav2>li.active>a{
    color: #009dc7;
}

@media (min-width: 991px){
    .yfops-nav{
        display: none;
    }
}

@media (max-width: 991px){
    .page-header .navbar-fixed-top {
        position: static;
        margin: 10px auto 0;
    }

    .navbar-actions{
        right:40px!important;
        opacity: 0.6;
    }

    .yfops-entity{
        position:absolute;
        left:15px;
        right:15px;
    }
}


@media (max-width: 991px){
    
}