<!-- BEGIN HEADER -->
<header class="page-header">
    <nav class="navbar mega-menu" role="navigation">
        <div class="container-fluid">
            
            <!-- BEGIN HEADER MENU -->
            <div class="nav-collapse collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown dropdown-fw " ng-class="{'dashboard':'active open selected','factory':'active open selected','financeSearch':'active open selected'}[$parent.$state.current.name]">
                        <a href="javascript:;" class="text-uppercase" ui-sref="dashboard">
                            <i class="icon-home"></i> 财务 </a>
                        <ul class="dropdown-menu dropdown-menu-fw">
                            <li ng-class="{'dashboard':'active','financeSearch':'active'}[$parent.$state.current.name]">
                                <a ui-sref="dashboard">
                                    <i class="icon-bar-chart"></i> 总览 </a>
                            </li>
                            <li ng-class="{'factory':'active'}[$parent.$state.current.name]">
                                <a ui-sref="factory">
                                    <i class="icon-bulb"></i> 工厂 </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown dropdown-fw" ng-class="{'BBPOverview':'active open selected','BBPFactory':'active open selected','BBPSearch':'active open selected'}[$parent.$state.current.name]">
                        <a href="javascript:;" class="text-uppercase" ui-sref="BBPOverview" >
                            <i class="icon-puzzle"></i> BBP </a>
                            <ul class="dropdown-menu dropdown-menu-fw" >
                                <li ng-class="{'BBPOverview':'active','BBPSearch':'active'}[$parent.$state.current.name]">
                                    <a ui-sref="BBPOverview">
                                        <i class="icon-bar-chart"></i> 总览 </a>
                                </li>
                                <li ng-class="{'BBPFactory':'active'}[$parent.$state.current.name]">
                                    <a ui-sref="BBPFactory">
                                        <i class="icon-bulb"></i> 工厂 </a>
                                </li>
                            </ul>
                            
                    </li>
                    <li class="dropdown dropdown-fw" ng-class="{'HROverview':'active open selected','HRFactory':'active open selected','HRSearch':'active open selected'}[$parent.$state.current.name]">
                        <a href="javascript:;" class="text-uppercase" ui-sref="HROverview">
                            <i class="icon-user"></i> 人力 </a>
                            <ul class="dropdown-menu dropdown-menu-fw">
                                <li ng-class="{'HROverview':'active','HRSearch':'active'}[$parent.$state.current.name]">
                                    <a ui-sref="HROverview">
                                        <i class="icon-bar-chart"></i> 总览 </a>
                                </li>
                                <li ng-class="{'HRFactory':'active'}[$parent.$state.current.name]">
                                    <a ui-sref="HRFactory">
                                        <i class="icon-bulb"></i> 工厂 </a>
                                </li>
                            </ul>
                    </li>
                    <li class="dropdown dropdown-fw" ng-class="{'OtherOverview':'active open selected','OtherFactory':'active open selected', 'OtherSearch':'active open selected'}[$parent.$state.current.name]">
                        <a href="javascript:;" class="text-uppercase" ui-sref="OtherOverview">
                            <i class="fa fa-paper-plane"></i> 其他 </a>
                            <ul class="dropdown-menu dropdown-menu-fw ">
                                <li ng-class="{'OtherOverview':'active','OtherSearch':'active'}[$parent.$state.current.name]">
                                    <a ui-sref="OtherOverview">
                                        <i class="icon-bar-chart"></i> 总览 </a>
                                </li>
                                <li ng-class="{'OtherFactory':'active','OtherSearch':'active'}[$parent.$state.current.name]">
                                    <a ui-sref="OtherFactory">
                                        <i class="icon-bulb"></i> 工厂 </a>
                                </li>
                            </ul>
                    </li>
                </ul>

                <div class="topbar-actions">
                    
                    
                    <!-- BEGIN USER PROFILE -->
                    <div class="btn-group-img btn-group">
                        <button type="button" class="yfops-top-btn btn btn-sm md-skip dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" >
                            <span ng-click="selectPBU('JIT PBU',$event)">JIT PBU</span>
                            <!-- <i class="fa fa-caret-down font-white"></i> -->
                        </button>

                        <!-- <ul class="dropdown-menu-v2" role="menu">
                            <li ng-repeat="bu in BuNameList" ng-click="selectStock(bu)">
                                <a href="#">
                                <i class="icon-calendar"></i> <span ng-bind="bu">11</span> </a>
                            </li>
                        </ul> -->
                    </div>
                    <!-- END USER PROFILE -->
                </div>
            </div>
            <!-- END HEADER MENU -->
            
        </div>
        <!--/container-->
    </nav>
</header>
<!-- END HEADER -->