<h4 ng-bind="entityShortName">title</h4>
<div class="navbar-actions"  ng-class="{'BBPOverview':'active','BBPFactory':'active'}[$parent.$state.current.name]">

    <div class="btn-group-img btn-group">
        <button type="button" class="yfops-top-btn btn btn-sm md-skip dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
            <span ng-bind="currentFilter">CC/EQU</span>
            <i class="fa fa-caret-down font-white"></i>
        </button>

        <ul class="dropdown-menu-v2" role="menu">
            <li ng-repeat="filter in filterList" ng-click="setFilter(filter)">
                <a href="#">
                <i class="icon-calendar"></i> <span ng-bind="filter">11</span> </a>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-sm-6 ">
        <!-- BEGIN PORTLET-->
        <div class="">
            <div class="portlet-body  yfops-widget yfops-widget-border">
                <!-- BEGIN WIDGET MAP -->
                <div class="widget-map yfops-map">
                    <div id="mapplic" class="widget-map-mapplic"></div>
                </div>
                <div class="yfops-map-list">
                    <ul class="yfops-sparkline">
                        <li ng-repeat="bu in BuNameList" on-repeat-finished ng-click="selectBU(bu,$event)">
                            <div class="yfops-sparkline-title" ng-bind="bu">BU1</div>
                            <div class="yfops-sparkline-chart widget_sparkline_bar" data-array="8,7,9,8.5,8,8.2"></div>
                            <div class="clearfix"></div>
                        </li>
                    </ul>
                </div>
                <!-- END WIDGET MAP -->
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
    <div class="col-md-6 col-sm-6 yfops-widget">
        <div class="row">

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-repeat = "value in values">
                <div class="dashboard-stat2 bordered">
                    <div class="display">
                        <div class="number">
                            <h3 class="font-blue-sharp">
                                <span data-counter="counterup" data-value="7800" ng-bind="value.axisValue | number">0</span>
                                <span class="yfops-unit" ng-bind="value.unit">元</span>
                            </h3>
                            <small ng-bind="value.lable">库存金额</small>
                        </div>
                    </div>
                    <div class="progress-info">
                        <div class="progress">
                            <span style="width: {{value.percent | number:1}}%;" class="progress-bar progress-bar-success blue-sharp">
                                <span class="sr-only">{{value.percent | number:1}}% progress</span>
                            </span>
                        </div>
                        <div class="status">
                            <div class="status-title" ng-bind="value.axis"> progress </div>
                            <div class="status-number" > {{value.percent | number:1}}%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-12 col-sm-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet light bordered  yfops-widget">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-dark hide"></i>
                    <span class="caption-subject font-dark bold uppercase" ng-bind="title1">月度</span>
                </div>
                <div class="actions">
                	<a class="btn btn-circle fa fa-download btn-default " href="#" data-original-title="" title=""> </a>
                    <a class="btn btn-circle fa fa-expand btn-default fullscreen" href="#" data-original-title="" title=""> </a>
                </div>
                
            </div>
            <div class="portlet-body">
            <div id="chart1" class="ops-chart"></div>
            </div>
        </div>
        <!-- END PORTLET-->
    </div>

    <div class="col-lg-6 col-md-12 col-sm-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet light bordered   yfops-widget">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-share font-red-sunglo hide"></i>
                    <span class="caption-subject font-dark bold uppercase" ng-bind="title2">月度</span>
                </div>
                <div class="actions">
                    <a class="btn btn-circle fa fa-download btn-default " href="#" data-original-title="" title=""> </a>
                    <a class="btn btn-circle fa fa-expand btn-default fullscreen" href="#" data-original-title="" title=""> </a>
                </div>
               
            </div>
            <div class="portlet-body">
                
            <div id="chart2" class="ops-chart"></div>
                
            </div>
        </div>
        <!-- END PORTLET-->
    </div>

    <div class="col-lg-6 col-md-12 col-sm-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet light bordered   yfops-widget">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-share font-red-sunglo hide"></i>
                    <span class="caption-subject font-dark bold uppercase" ng-bind="title3">月度</span>
                </div>
                <div class="actions">
                    <a class="btn btn-circle fa fa-download btn-default " href="#" data-original-title="" title=""> </a>
                    <a class="btn btn-circle fa fa-expand btn-default fullscreen" href="#" data-original-title="" title=""> </a>
                </div>
               
            </div>
            <div class="portlet-body">
                
            <div id="chart3" class="ops-chart" style="height:400px;"></div>
                
            </div>
        </div>
        <!-- END PORTLET-->
    </div>

    <div class="col-lg-6 col-md-12 col-sm-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet light bordered  yfops-widget">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-share font-red-sunglo hide"></i>
                    <span class="caption-subject font-dark bold uppercase" ng-bind="title4">月度</span>
                </div>
                <div class="actions">
                    <a class="btn btn-circle fa fa-download btn-default " href="#" data-original-title="" title=""> </a>
                    <a class="btn btn-circle fa fa-expand btn-default fullscreen" href="#" data-original-title="" title=""> </a>
                </div>
               
            </div>
            <div class="portlet-body">
                
            <div id="chart4" class="ops-chart" style="height:400px;"></div>
                
            </div>
        </div>
        <!-- END PORTLET-->
    </div>

    <div class="col-lg-6 col-md-12 col-sm-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet light bordered   yfops-widget">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-share font-red-sunglo hide"></i>
                    <span class="caption-subject font-dark bold uppercase" ng-bind="title5">月度</span>
                </div>
                <div class="actions">
                    <a class="btn btn-circle fa fa-download btn-default " href="#" data-original-title="" title=""> </a>
                    <a class="btn btn-circle fa fa-expand btn-default fullscreen" href="#" data-original-title="" title=""> </a>
                </div>
               
            </div>
            <div class="portlet-body">
                
            <div id="chart5" class="ops-chart" style="height:400px;"></div>
                
            </div>
        </div>
        <!-- END PORTLET-->
    </div>

    <div class="col-lg-6 col-md-12 col-sm-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet light bordered  yfops-widget">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-share font-red-sunglo hide"></i>
                    <span class="caption-subject font-dark bold uppercase" ng-bind="title6">月度</span>
                </div>
                <div class="actions">
                    <a class="btn btn-circle fa fa-download btn-default " href="#" data-original-title="" title=""> </a>
                    <a class="btn btn-circle fa fa-expand btn-default fullscreen" href="#" data-original-title="" title=""> </a>
                </div>
               
            </div>
            <div class="portlet-body">
                
            <div id="chart6" class="ops-chart" style="height:400px;"></div>
                
            </div>
        </div>
        <!-- END PORTLET-->
    </div>

</div>