<div class="row">

    <div class="col-md-6 col-sm-6 ">
        <!-- BEGIN PORTLET-->
        <div class="">
            <div class="portlet-body  yfops-widget ysops-widget-border">
               	<!-- BEGIN WIDGET MAP -->
                <div class="widget-map ysops-map">
                    <div id="mapplic" class="widget-map-mapplic"></div>
                </div>
                <div class="ysops-map-list">
                	<ul class="ysops-sparkline">
                		<li ng-repeat="bu in BuNameList" on-repeat-finished ng-click="selectBU(bu,$event)">
		                	<div class="ysops-sparkline-title" ng-bind="bu">BU1</div>
		                	<div class="ysops-sparkline-chart widget_sparkline_bar" data-array="8,7,9,8.5,8,8.2"></div>
		                	<div class="clearfix"></div>
	                	</li>
<!-- 
	                	<li>
		                	<div class="ysops-sparkline-title">BU2</div>
		                	<div class="ysops-sparkline-chart widget_sparkline_bar" id="" data-array="8,7,9,8.5,8,8.2"></div>
		                	<div class="clearfix"></div>
	                	</li>

	                	<li>
		                	<div class="ysops-sparkline-title">BU3</div>
		                	<div class="ysops-sparkline-chart widget_sparkline_bar" id="" data-array="2,5,3,1.5,3,8.2"></div>
		                	<div class="clearfix"></div>
	                	</li>

	                	<li>
		                	<div class="ysops-sparkline-title">BU4</div>
		                	<div class="ysops-sparkline-chart widget_sparkline_bar" id="" data-array="2,5,3,1.5,3,8.2"></div>
		                	<div class="clearfix"></div>
	                	</li> -->
                	</ul>
                </div>
                <!-- END WIDGET MAP -->
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
    <div class="col-md-6 col-sm-6 yfops-widget">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="dashboard-stat2 bordered">
                    <div class="display">
                        <div class="number">
                            <h3 class="font-blue-sharp">
                                <span data-counter="counterup" data-value="7800" ng-bind="overviewData.overviewStockAmount[3].axisValue | currency:''">0</span>
                            	<span class="yfops-unit" ng-bind="overviewData.overviewStockAmount[3].unit">天</span>
                            </h3>
                            <small ng-bind="overviewData.overviewStockAmount[3].lable">库存金额</small>
                        </div>
                    </div>
                    <div class="progress-info">
                        <div class="progress">
                            <span style="width: 76%;" class="progress-bar progress-bar-success blue-sharp">
                                <span class="sr-only">76% progress</span>
                            </span>
                        </div>
                        <div class="status">
                            <div class="status-title"> progress </div>
                            <div class="status-number"> 76% </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="dashboard-stat2 bordered">
                    <div class="display">
                        <div class="number">
                            <h3 class="font-blue-sharp">
                                <span data-counter="counterup" data-value="1349" ng-bind="overviewData.overviewTurnoverDays[3].axisValue">0</span>
                                <span class="yfops-unit" ng-bind="overviewData.overviewTurnoverDays[3].unit">天</span>
                            </h3>
                            <small ng-bind="overviewData.overviewTurnoverDays[3].lable">周转天数</small>
                        </div>
                    </div>
                    <div class="progress-info">
                        <div class="progress">
                            <span style="width: 85%;" class="progress-bar progress-bar-success blue-sharp">
                                <span class="sr-only">85% change</span>
                            </span>
                        </div>
                        <div class="status">
                            <div class="status-title"> change </div>
                            <div class="status-number"> 85% </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="dashboard-stat2 bordered">
                    <div class="display">
                        <div class="number">
                            <h3 class="font-blue-sharp">
                                <span data-counter="counterup" data-value="567"  ng-bind="overviewData.overviewTurnoverRate[3].axisValue">0</span>
                                <span class="yfops-unit" ng-bind="overviewData.overviewTurnoverRate[3].unit"></span>
                            </h3>
                            <small ng-bind="overviewData.overviewTurnoverRate[3].lable">库存周转率</small>
                        </div>
                    </div>
                    <div class="progress-info">
                        <div class="progress">
                            <span style="width: 45%;" class="progress-bar progress-bar-success blue-sharp">
                                <span class="sr-only">45% grow</span>
                            </span>
                        </div>
                        <div class="status">
                            <div class="status-title"> grow </div>
                            <div class="status-number"> 45% </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="dashboard-stat2 bordered">
                    <div class="display">
                        <div class="number">
                            <h3 class="font-blue-sharp">
                                <span data-counter="counterup" data-value="567"  ng-bind="overviewData.overviewUnbilledSell[3].axisValue | currency:''">0</span>
                                <span class="yfops-unit" ng-bind="overviewData.overviewUnbilledSell[3].unit">0</span>
                            </h3>
                            <small class="yfops-unit" ng-bind="overviewData.overviewUnbilledSell[3].lable">未开票销售</small>
                        </div>
                    </div>
                    <div class="progress-info">
                        <div class="progress">
                            <span style="width: 45%;" class="progress-bar progress-bar-success blue-sharp">
                                <span class="sr-only">45% grow</span>
                            </span>
                        </div>
                        <div class="status">
                            <div class="status-title"> grow </div>
                            <div class="status-number"> 45% </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <!-- BEGIN PORTLET-->
        <div class="portlet light bordered  yfops-widget">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-dark hide"></i>
                    <span class="caption-subject font-dark bold uppercase" ng-bind="title1">月度</span>
                </div>
                <div class="actions">
                	<a class="btn btn-circle fa fa-download btn-default " href="#" data-original-title="" title=""> </a>
                    <a class="btn btn-circle fa fa-expand btn-default fullscreen" href="#" data-original-title="" title=""> </a>
                </div>
                
            </div>
            <div class="portlet-body">
            <div id="chart1" class="ops-chart"></div>
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
    <div class="col-md-6 col-sm-6">
        <!-- BEGIN PORTLET-->
        <div class="portlet light bordered   yfops-widget">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-share font-red-sunglo hide"></i>
                    <span class="caption-subject font-dark bold uppercase" ng-bind="title2">月度</span>
                </div>
                <div class="actions">
                	<a class="btn btn-circle fa fa-download btn-default " href="#" data-original-title="" title=""> </a>
                    <a class="btn btn-circle fa fa-expand btn-default fullscreen" href="#" data-original-title="" title=""> </a>
                </div>
               
            </div>
            <div class="portlet-body">
                
            <div id="chart2" class="ops-chart"></div>
                
            </div>
        </div>
        <!-- END PORTLET-->
    </div>

    <div class="col-md-6 col-sm-6">
        <!-- BEGIN PORTLET-->
        <div class="portlet light bordered  yfops-widget">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-dark hide"></i>
                    <span class="caption-subject font-dark bold uppercase" ng-bind="title3">年度</span>
                </div>
                <div class="actions">
                	<a class="btn btn-circle fa fa-download btn-default " href="#" data-original-title="" title=""> </a>
                    <a class="btn btn-circle fa fa-expand btn-default fullscreen" href="#" data-original-title="" title=""> </a>
                </div>
                
            </div>
            <div class="portlet-body">
            <div id="chart3" class="ops-chart"></div>
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
    <div class="col-md-6 col-sm-6">
        <!-- BEGIN PORTLET-->
        <div class="portlet light bordered   yfops-widget">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-share font-red-sunglo hide"></i>
                    <span class="caption-subject font-dark bold uppercase" ng-bind="title4">年度</span>
                </div>
                <div class="actions">
                	<a class="btn btn-circle fa fa-download btn-default " href="#" data-original-title="" title=""> </a>
                    <a class="btn btn-circle fa fa-expand btn-default fullscreen" href="#" data-original-title="" title=""> </a>
                </div>
               
            </div>
            <div class="portlet-body">
                
            <div id="chart4" class="ops-chart"></div>
                
            </div>
        </div>
        <!-- END PORTLET-->
    </div>


    <div class="col-md-6 col-sm-6">
        <!-- BEGIN PORTLET-->
        <div class="portlet light bordered  yfops-widget">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-dark hide"></i>
                    <span class="caption-subject font-dark bold uppercase" ng-bind="title5">年度</span>
                </div>
                <div class="actions">
                	<a class="btn btn-circle fa fa-download btn-default " href="#" data-original-title="" title=""> </a>
                    <a class="btn btn-circle fa fa-expand btn-default fullscreen" href="#" data-original-title="" title=""> </a>
                </div>
                
            </div>
            <div class="portlet-body">
            <div id="chart5" class="ops-chart"></div>
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
    <div class="col-md-6 col-sm-6">
        <!-- BEGIN PORTLET-->
        <div class="portlet light bordered   yfops-widget">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-share font-red-sunglo hide"></i>
                    <span class="caption-subject font-dark bold uppercase" ng-bind="title6">年度</span>
                </div>
                <div class="actions">
                	<a class="btn btn-circle fa fa-download btn-default " href="#" data-original-title="" title=""> </a>
                    <a class="btn btn-circle fa fa-expand btn-default fullscreen" href="#" data-original-title="" title=""> </a>
                </div>
               
            </div>
            <div class="portlet-body">
                
            <div id="chart6" class="ops-chart"></div>
                
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>