<div class="row">

    <div class="col-md-12 col-sm-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet light bordered  yfops-widget">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-dark hide"></i>
                    <span class="caption-subject font-dark bold uppercase" ng-bind="title1">月度</span>
                </div>
                <div class="actions">
                	<a class="btn btn-circle fa fa-download btn-default " href="#" data-original-title="" title=""> </a>
                    <a class="btn btn-circle fa fa-expand btn-default fullscreen" href="#" data-original-title="" title=""> </a>
                </div>
                
            </div>
            <div class="portlet-body">
            <div id="chart1" class="ops-chart"></div>
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
    <div class="col-md-12 col-sm-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet light bordered   yfops-widget">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-share font-red-sunglo hide"></i>
                    <span class="caption-subject font-dark bold uppercase" ng-bind="title2">月度</span>
                </div>
                <div class="actions">
                    <a class="btn btn-circle fa fa-download btn-default " href="#" data-original-title="" title=""> </a>
                    <a class="btn btn-circle fa fa-expand btn-default fullscreen" href="#" data-original-title="" title=""> </a>
                </div>
               
            </div>
            <div class="portlet-body">
                
            <div id="chart2" class="ops-chart"></div>
                
            </div>
        </div>
        <!-- END PORTLET-->
    </div>

    <div class="col-md-12 col-sm-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet light bordered   yfops-widget">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-share font-red-sunglo hide"></i>
                    <span class="caption-subject font-dark bold uppercase" ng-bind="title3">月度</span>
                </div>
                <div class="actions">
                    <a class="btn btn-circle fa fa-download btn-default " href="#" data-original-title="" title=""> </a>
                    <a class="btn btn-circle fa fa-expand btn-default fullscreen" href="#" data-original-title="" title=""> </a>
                </div>
               
            </div>
            <div class="portlet-body">
                
            <div id="chart3" class="ops-chart"></div>
                
            </div>
        </div>
        <!-- END PORTLET-->
    </div>

</div>